
.facts-wrap h5{
	color:#e74c3c;
}
.font-awesome-icon{
	color:#e74c3c;
}
.services-wrap .services-discr{
	background:#e74c3c;
}
.table .price-wrap{
	background:#e74c3c;
}
.table .price-wrap .arrow-bottom{
  border-top:7px solid #e74c3c;
}
.background-color{
	background:#e74c3c;
}
.portfolio-box .folio-mask1{ 
	background:#e74c3c;
}
.portfolio-box .folio-mask2{ 
	background:#e74c3c;
}
.bar-prc1-an {
	background-color: #e74c3c;
    box-shadow: 0px 0px 10px 1px rgba(231,76,60,0.6);
}
.bar-prc2-an {
	background-color: #e74c3c;
    box-shadow: 0px 0px 10px 1px rgba(231,76,60,0.6);
}
.bar-prc3-an {
	background-color: #e74c3c;
    box-shadow: 0px 0px 10px 1px rgba(231,76,60,0.6);
}
.bar-prc4-an {
	background-color: #e74c3c;
    box-shadow: 0px 0px 10px 1px rgba(231,76,60,0.6);
}
.bar-prc5-an {
	background-color: #e74c3c;
    box-shadow: 0px 0px 10px 1px rgba(231,76,60,0.6);
}
.bar-prc6-an {
	background-color: #e74c3c;
    box-shadow: 0px 0px 10px 1px rgba(231,76,60,0.6);
}
#filter li .current {
	color:#e74c3c;
}
#separ2 h1{
	color:#e74c3c;
}	
.error {
	color: #e74c3c;
}
#button-con button{
	background: #e74c3c;
 }
#filter-blog li .current {
	color:#e74c3c;
}





















