
.facts-wrap h5{
	color:#3498db;
}
.font-awesome-icon{
	color:#3498db;
}
.services-wrap .services-discr{
	background:#3498db;
}
.table .price-wrap{
	background:#3498db;
}
.table .price-wrap .arrow-bottom{
  border-top:7px solid #3498db;
}
.background-color{
	background:#3498db;
}
.portfolio-box .folio-mask1{ 
	background:#3498db;
}
.portfolio-box .folio-mask2{ 
	background:#3498db;
}
.bar-prc1-an {
	background-color: #3498db;
    box-shadow: 0px 0px 10px 1px rgba(52,152,219,0.6);
}
.bar-prc2-an {
	background-color: #3498db;
    box-shadow: 0px 0px 10px 1px rgba(52,152,219,0.6);
}
.bar-prc3-an {
	background-color: #3498db;
    box-shadow: 0px 0px 10px 1px rgba(52,152,219,0.6);
}
.bar-prc4-an {
	background-color: #3498db;
    box-shadow: 0px 0px 10px 1px rgba(52,152,219,0.6);
}
.bar-prc5-an {
	background-color: #3498db;
    box-shadow: 0px 0px 10px 1px rgba(52,152,219,0.6);
}
.bar-prc6-an {
	background-color: #3498db;
    box-shadow: 0px 0px 10px 1px rgba(52,152,219,0.6);
}
#filter li .current {
	color:#3498db;
}
#separ2 h1{
	color:#3498db;
}	
.error {
	color: #3498db;
}
#button-con button{
	background: #3498db;
 }
#filter-blog li .current {
	color:#3498db;
}

















